<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nanofuntas.fbl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/launch_icon5"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nanofuntas.fbl.LogNRegActivity"
            android:label="@string/title_activity_log_n_reg"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nanofuntas.fbl.TabViewActivity"
            android:label="@string/title_activity_tabview"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="nanofuntas.fbl.PlayerRatingActivity"
            android:label="@string/title_activity_player_rating"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="nanofuntas.fbl.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="nanofuntas.fbl.tb.TacticBoard"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="nanofuntas.fbl.settings.MyProfileUpdate"
            android:label="@string/title_activity_my_profile_update"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="nanofuntas.fbl.settings.CreateTeamActivity"
            android:label="@string/title_activity_create_team"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="nanofuntas.fbl.settings.JoinTeamActivity"
            android:label="@string/title_activity_join_team"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="nanofuntas.fbl.settings.IncruitPlayerActivity"
            android:label="@string/title_activity_incruit_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="nanofuntas.fbl.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
        </activity>
    </application>

</manifest>